* {
    background: black;
    color: white;
}

.layout {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;
}

#count {
    font-weight: bold;
    font-size: 48px;
    height: 80px;
}

button {
    background: white;
    color: black;

    height: 40px;
    width: 120px;
}